<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href=".\\static\\css\\mystyle.css">
    </head>
    <body>
        <div class="outer_div">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="/eng">English to Kashmiri</a></li>
                <li><a href="/kash">Kashmiri to English</a></li>
              </ul>
              <div class="inner_div">
                <p style="font-family: Georgia">
                    Welcome to Kashmiri Translator! 
                    We provide English to Kashmiri and Kashmiri to English translation through our tool.<br><br>

                    <a href="/eng" class="next">Next &raquo;</a>
                </p>
              </div>
        </div>
    </body>
</html>